@page "/"

<PageTitle>Kezdőoldal</PageTitle>

<header>
    <h1>Üdvözlünk <span id="site-name">Bitóka Autóka</span> oldalán!</h1>
</header>

<section>
    <p>Fedezd fel az autók világát egy teljesen új módon! Nálunk lehetőséged van, hogy személyes autógyűjteményedet online megalkosd. Böngéssz a kedvenc márkáid között, válaszd ki azokat az autókat, amelyek a legközelebb állnak a szívedhez, és mentsd el őket saját gyűjteményedbe.</p>
</section>

<section>
    <h2>Funkciók, amelyeket imádni fogsz:</h2>
    <ul>
        <li><strong>Kedvenc autók rögzítése:</strong> Könnyedén hozzáadhatod kedvenc autóidat a profilodhoz, hogy mindig kéznél legyenek.</li>
        <li><strong>Képek feltöltése:</strong> Tölts fel saját fotókat az autókról, és tedd még személyesebbé a gyűjteményedet!</li>
        <li><strong>Személyre szabott élmény:</strong> Fedezd fel, mely autók passzolnak hozzád, és bővítsd folyamatosan a gyűjteményedet!</li>
    </ul>
</section>

<section>
    <p>Csatlakozz közösségünkhöz, és oszd meg szenvedélyedet az autók iránt másokkal! Kezdd el most, és hozd létre saját autógyűjteményedet pár kattintással!</p>
</section>
