@page "/Account/AccessDenied"

<PageTitle>Hozzáférés megtagadva</PageTitle>

<header>
    <h1 class="text-danger">Hozzáférés megtagadva!</h1>
    <p class="text-danger">Önnek nincs jogosultsága a kért oldal megtekintéséhez.</p>
</header>
